* {
  margin: 0;
  padding: 0;
}

$color-primary: #f9ed69; // this is yellow color
$color-secondary: orange;
$color-tertiary: pink;
$color-text-dark: #333;

nav {
  margin: 30px;
  background-color: $color-primary;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.navigation {
  list-style: none;
  float: left;

  li {
    display: inline-block;
    margin-left: 30px;

    &:first-child {
      margin: 0;
    }

    a {
      text-decoration: none;
      text-transform: uppercase;
      color: $color-text-dark;
    }
  }
}

.buttons {
  float: right;
}
